*{border-radius: 5px;
font-size: 22px;}

body{
background: white!important;
}
#content a{
    text-decoration: none;
    color:black;
}

#searchdiv{
margin: 15px 10% 15px 10%;
    height: 6vh;
}

#totalprice{
    margin-right: 20%;
}

#allinfo{
    margin-right: 1%;
}
#content{
    position: relative;
    height:86vh;
}
.panel{
    width:24%;
    position: absolute;
    height:80%;
    top: 6%;
    padding: 10px 2%;
    background: whitesmoke;
    box-shadow: 0 0 5px black;
    overflow: auto;
}
.grouplist{
    height:83%;
    top: 5%;
    right:50%;
    width:22%;
    left:30%;
}
.productlist{
    right:32%;
    left:48%;
    padding-left: 5%;
}

.groupinfo{
    right:70%;
    left:10%;
    padding-right: 5%;
}

.productinfo{
    top: 7%;
    height: 77%;
    right:12%;
    left:68%;
    padding: 5px 15px 5px 5%;
}

.title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
}
.edit{
    float: right;
}
.delete{
    position: absolute;
    bottom: 2%;
    left:3%;
}

.messagepanel{
    display: none;
    position:fixed;
    z-index:1031;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: rgba(132, 132, 132, 0.5);
    overflow: auto;
}
#messagebox{
    position: absolute;
    top:20%;
    left:25%;
    width:50%;
    min-height: 50%;
}
.backbutton{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height: 100vh;
    overflow: auto;
    z-index:-1;
    background: rgba(157, 157, 157, 0.5);
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    padding-left: 25px;
    font-size: 50px;

}

.backbutton:hover,.backbutton:focus{
    background: rgba(145, 145, 145, 0.5);
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;

}